<a href="https://colab.research.google.com/github/DRodriguez615/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-11-03 21:09:59--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [       <=>          ]  21.66M   765KB/s    in 29s

2019-11-03 21:10:29 (753 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22709125]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [4]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [5]:
print(df.shape)

(128412, 144)

In [6]:
df['term'].dtype

dtype('O')

In [8]:
df.loc[0, 'term']

' 36 months'

In [10]:
term0=df.loc[0, 'term']
print(term0)

 36 months

In [13]:
term0.strip().strip(' months')

'36'

In [23]:
type(int(term0.strip().strip(' months')))

int

In [0]:
def term_2_int(mystring):
  return int(mystring.strip().strip(' months'))

In [77]:
term_2_int(term0)

36

In [27]:
df['term_int']=df['term'].apply(term_2_int)
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_last_payment_amount', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'term_str', 'term_int'],
      dtype='object', length=146)

In [28]:
df[['term', 'term_int']].head()
# new term column is now converted to int form str

         term  term_int
0   36 months        36
1   36 months        36
2   60 months        60
3   36 months        36
4   36 months        36

In [29]:
df['term_double']=df['term_int']*2
df[['term', 'term_int', 'term_double']].sample(5)
# shows that new term_int column is int by being apply to apply math to it

              term  term_int  term_double
51268    36 months        36           72
124132   36 months        36           72
38782    60 months        60          120
118300   60 months        60          120
62164    36 months        36           72

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [30]:
df['loan_status']

0          Fully Paid
1          Fully Paid
2             Current
3             Current
4             Current
             ...
128407    Charged Off
128408        Current
128409        Current
128410        Current
128411        Current
Name: loan_status, Length: 128412, dtype: object

In [31]:
df['loan_status_is_great']=df['loan_status']
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'term_str', 'term_int', 'term_double', 'loan_status_is_great'],
      dtype='object', length=148)

In [32]:
df[['loan_status', 'loan_status_is_great']].head()

  loan_status loan_status_is_great
0  Fully Paid           Fully Paid
1  Fully Paid           Fully Paid
2     Current              Current
3     Current              Current
4     Current              Current

In [34]:
df['loan_status'].isnull().sum()

0

In [90]:
def loan_status_is_great_2(status):
  a = ['Fully Paid', 'Current']
for i in a:
  print(1)
else:
    print(0)

1
1
1
0

In [79]:
df['loan_status_is_great_2']=df['loan_status_is_great'].apply(loan_status_is_great_2)
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term', 'term_str', 'term_int',
       'term_double', 'loan_status_is_great', 'loan_status_is_great_2'],
      dtype='object', length=149)

In [80]:
df[['loan_status', 'loan_status_is_great', 'loan_status_is_great_2']].sample(6)
# trying to figure out why this returns none instead or (1, or 0)

       loan_status loan_status_is_great loan_status_is_great_2
50883      Current              Current                   None
114779  Fully Paid           Fully Paid                   None
77516      Current              Current                   None
69749      Current              Current                   None
26864      Current              Current                   None
85537   Fully Paid           Fully Paid                   None

In [0]:
# submitting this assignment late but will work on this problem more

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01